#loading-screen {
  background-color: rgb(1, 1, 167);
  height: 100vh;
  position: relative;
}

#loading-upper {
  height: 45vh;
  background-color: red;
}
#loading-middle {
  height: 10vh;
  background-color: black;
  position: relative;
}

#loading-lower {
  height: 45vh;
  background-color: white;
}
#circle-pokeball {
  background-color: white;
  border-radius: 100%;
  height: 20%;
  width: 30%;
  border: 3vw solid black;

  position: absolute;
  z-index: 9999;
  top: 40%;
  left: 35%;
}
#running-pikachu {
  position: absolute;
  z-index: 99999;
  top: 30px;
  left: -10%;
  width: 300px;
}

@media only screen and (min-width: 600px) {
  #loading-screen {
    background-color: rgb(1, 1, 167);
    height: 100vh;
    position: relative;
  }

  #loading-upper {
    height: 45vh;
    background-color: red;
  }
  #loading-middle {
    height: 10vh;
    background-color: black;
    position: relative;
  }

  #loading-lower {
    height: 45vh;
    background-color: white;
  }
  #circle-pokeball {
    background-color: white;
    border-radius: 100%;
    height: 40%;
    width: 30%;
    border: 3vw solid black;

    position: absolute;
    z-index: 9999;
    top: 25%;
    left: 32%;
  }
  #running-pikachu {
    position: absolute;
    z-index: 99999;
    top: 0;
    left: -10%;
    width: 30vw;
  }
}
