.leader-board-list {
  margin-top: 1vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
}
.LeaderBoardCard {
  position: relative;
}
.leader-board-users {
  padding-top: 6vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 76vh;
  width: 100%;
  background-color: rgba(0, 0, 34, 0.678);
}
.map-img-lb {
  height: 82vh;
}
.leader-board-users {
}
.leader-board-user {
  font-size: 4vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  width: 100%;
  color: white;
}
