#user-name-input-label {
  font-size: 5vh;
  color: rgb(255, 255, 255);
}

#user-submit-button {
  background-color: yellow;
  text-decoration: none;
  border: none;
  color: rgb(0, 0, 207);
  font-size: 3vh;
  font-weight: bold;
  border-radius: 100px;
}
